<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>果然新鲜</title>
    <link href="/static/css/orange.css"rel="stylesheet">
    <link href="/static/css/share.css"rel="stylesheet">
    <link href="/static/css/register.css"rel="stylesheet">
    <script src="/static/js/jquery-1.12.3.js"></script>
    </script><script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--顶部导航-->
<div class="headr">
    <div class="heard-con">
        <img src="/static/images/logo.jpg" style="margin-top: 7px;float: left;position: absolute">
        <div class="headr-nav">
            <ul>
                <li><a href="index.html"><span>首页</span></a> </li>
                <li><a href="hot.html">蔬果热卖</a> </li>
                <li><a href="produ.html">全部产品</a> </li>
                <li><a href="consult.html">最新资讯</a></li>
                <li><a href="touch.html">联系我们</a> </li>
            </ul>
            <div class="sptopfoot">
                <div class="spbottom"  >
                </div>
            </div>
        </div>
        <div class="headr-right">
            <i class="iconfont" style="font-size: 16px;margin-right: 10px">&#xe7d5;</i>
            我的购物车 ∨
            <div class="hr-car">
                <i class="iconfont"style="font-size: 40px;margin-right: 10px">&#xe633;</i>
                您的购物车内暂时没有任何产品。
            </div>
        </div>
    </div>
</div>
<!--顶部导航结束-->
<!--banner图片-->
<div class="her-banner">

</div>
<!--banner图片结束-->
<!--主页内容-->
<div id="register">
    <div id="register-top">
        <span id="register-top1">会员注册</span>
    </div>
    <div class="registerMain">
		<div class="writeLine">
			<div class="writeLineTitle">
				账号：
			</div>
			<div class="writeLineInput">
				<input type="text" name="username"  maxlength="50" class="inputUser"><span class="itemSign">*</span>
			</div>
		</div>
		<div class="writeLine">
			<div class="writeLineTitle">
				密码：
			</div>
			<div class="writeLineInput">
				<input type="password" name="userpwd"  maxlength="50" class="inputUser"><span class="itemSign">*</span>
			</div>
		</div>
		<div class="writeLine">
			<div class="writeLineTitle">
				确认密码：
			</div>
			<div class="writeLineInput">
				<input type="password" name="userpwd"  maxlength="50" class="inputUser"><span class="itemSign">*</span>
			</div>
		</div>
		<div class="writeLine">
			<div class="writeLineTitle">
				姓名：
			</div>
			<div class="writeLineInput">
				<input type="text" name="uname"  maxlength="50" class="inputUser"><span class="itemSign">*</span>
			</div>
		</div>
		<div class="writeLine">
			<div class="writeLineTitle">
				邮箱：
			</div>
			<div class="writeLineInput">
				<input type="email" name="useremail"  maxlength="50" class="inputUser">
			</div>
		</div>
		<div class="writeLine">
			<div class="writeLineTitle">
				电话：
			</div>
			<div class="writeLineInput">
				<input type="text" name="userphone"  maxlength="50" class="inputUser">
			</div>
		</div>
		<div class="writeLine">
			<div class="writeLineTitle" title="手机">
				手机：
			</div>
			<div class="writeLineInput">
				<select id="mobiletop" name="mobile" class="user" style="width: 108px;float:left;">
					<option value="ch">中国大陆+86</option>
					<option value="hk">香港+852</option>
					<option value="mc">澳门+853</option>
					<option value="tw">台湾+886</option>
					<option value="kr">韩国+82</option>
					<option value="jp">日本+81</option>
					<option value="ac">美国+1</option>
					<option value="cnd">加拿大+1</option>
					<option value="el">英国+44</option>
					<option value="mls">马来西亚+60</option>
					<option value="tl">泰国+66</option>
					<option value="vtn">越南+84</option>
					<option value="fc">法国+33</option>
					<option value="plp">菲律宾+63</option>
					<option value="idns">印度尼西亚+62</option>
					<option value="itl">意大利+39</option>
					<option value="rs">俄罗斯+7</option>
					<option value="zl">新西兰+64</option>
					<option value="nl">荷兰+31</option>
					<option value="swd">瑞典+46</option>
					<option value="atl">澳大利亚+61</option>
					<option value="gm">德国+49</option>
					<option value="snp">新加坡+65</option>
					<option value="fld">芬兰+358</option>
					<option value="dmk">丹麦+45</option>
					<option value="isr">以色列+00972</option>
				</select>
				<input onkeyup="value=value.replace(/[^\d]/g,'')" class="mobileinput" name="手机" placeholder=""  type="text" maxlength="11">
				<span class="itemSign">*</span>
			</div>
		</div>
		<div class="writeLineTitle">
				留言：
		</div>
		<div class="writeL">
				<textarea id="SignupRemark" maxlength="200"></textarea>
		</div>
		<input type="submit" value="注册" class="registerBtn">
			<!--<span id="reBtn">注  册</span>-->
    </div>
</div>
<!--主页内容结束-->
<!--底部-->
<div class="footer">
    <div class="ft-con">
        <div class="ft-top">
            <img src="/static/images/fot-1.jpg">
        </div>
        <div class="ft-bo">
            <div class="ft-b">
                <h3>服务保障</h3>
                <p>正品保证</p>
                <p>7天无理由退换</p>
                <p>退货返运费</p>
                <p>7X15小时客户服务</p>

            </div>
            <div class="ft-b">
                <h3>支付方式</h3>
                <p>公司转账</p>
                <p>货到付款</p>
                <p>在线支付</p>
                <p>分期付款</p>

            </div>
            <div class="ft-b">
                <h3>商家服务</h3>
                <p>商家入驻</p>
                <p>培训中心</p>
                <p>广告服务</p>
                <p>服务市场</p>

            </div>
            <div class="ft-b">
                <h3>服务保障</h3>
                <p>免运费</p>
                <p>海外配送</p>
                <p>EMS</p>
                <p>211限时达</p>

            </div>

        </div>
        <div class="banq">
            <p>©2016 果然新鲜 版权所有</p>
            <p>手机版 | 本站使用<span><img src="/static/images/ft.jpg"></span>凡科建站搭建 | 管理登录</p>
        </div>

    </div>

</div>
<!--底部结束-->
<!--弹框-->
<div class="popup">
    <div class="login">
        <div class="del">×</div>
        <div class="lg-cont">
            <div class="lhd">
                <ul>
                    <li class="active">登录</li>
                    <li>注册</li>
                </ul>
                <div class="lhdfoot">
                    <div class="lhdbottom"  >
                    </div>
                </div>

            </div>
            <div class="lbd">
                <div class="lbd1"style="display: block">
                    <div id="memberLoginAcct" class="J_memberLoginItem memberLoginDialogItem">
                        <input id="memberAcct" class="generateInput memberAcctInput" type="text" value="" placeholder="账号">
                    </div>
                    <div id="memberLoginPwd" class="J_memberLoginItem memberLoginDialogItem itemSpace">
                        <input id="memberPwd" class="generateInput memberPwdInput" type="password" placeholder="密码"}>
                    </div>
                    <div class="loginButton loginButton">
                        <div class="middle">登录</div>
                    </div>
                    <div class="bott"></div>
                </div>
                <div class="lbd1">
                    <div class="msv">
                        <div class="memberSignupItem">
                            <div class="itemMiddle">
                                <input type="text" placeholder="账号" >
                            </div>
                            <div class="itemRight">*</div>
                        </div>
                        <div class="memberSignupItem ">
                            <div class="itemMiddle">
                                <input type="password" id="memberSignupPwd" placeholder="密码" maxlength="50">
                            </div>
                            <div class="itemRight">*</div>
                        </div>
                        <div class="memberSignupItem">
                            <div class="itemMiddle">
                                <input type="password" id="memberSignupRepwd" placeholder="确认密码" maxlength="50">
                            </div>
                            <div class="itemRight">*</div>
                        </div>
                        <div class="memberSignupItem">
                            <div class="itemMiddle">
                                <input id="name" name="姓名" placeholder="姓名" class="userAddItem isCheckUAI" type="text" maxlength="50">
                            </div>
                            <div class="itemRight">*</div>
                        </div>
                        <div class="memberSignupItem">
                            <div class="itemMiddle">
                                <input id="email" name="邮箱" placeholder="邮箱" class="userAddItem" type="text" maxlength="50">
                            </div>
                            <div class="itemRight"></div>
                        </div>
                        <div class="memberSignupItem">
                            <div class="itemMiddle">
                                <input id="phone" name="电话" placeholder="电话" class="userAddItem" type="text" maxlength="50">
                            </div>
                            <div class="itemRight"></div>
                        </div>
                        <div class="memberSignupItem_remark">
                            <div class="itemMiddle">
                                <textarea id="memberSignupRemark" placeholder="留言" maxlength="200"></textarea>
                            </div>
                            <div class="itemRight"></div>
                        </div>
                        <div class="memberSignupItem_captcha">
                            <div class="itemMiddle" style="float:left;width: 150px;">
                                <input id="memberSignupCaptcha" type="text" maxlength="4" placeholder="验证码">
                            </div>
                            <div class="itemRightp">
                                <img alt="" id="memberSignupCaptchaImg" class="memberSignupCaptchaImg" onclick="Site.changeCaptchaImg(this)" title="看不清，换一张" src="images/validateCode.jpg">
                            </div>
                        </div>
                   </div>
                    <div class="loginButton loginButton">
                        <div class="middle">注册</div>
                    </div>
                    <div class="bott"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--弹框结束-->
</body>
<script src="/static/js/orange.js"></script>
</html>